<div>
  <div class="my-term">
    <h1> Ready to Taste the World!</h1>
    <h2> - Cook with us - </h2>
  </div>
  <p>
    <h3>All our effort is to bring dozens of different types of world’s tastes into your kitchen. Many more tastes are yet to come. Stay tuned!</h3>
  </p>
</div>